*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
. font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: #b87c60;
  padding-top: 50px;
  background: url(../images/developer.png) ,url("../images/header_bg.png") ,#b87c60 ;
  background-position: 23px 38px,bottom right;
  background-repeat: no-repeat;
}
.logo h2{
  font-size: 45px;
  font-weight: bolder;
}
.color-red{
  color:#FD6E0A;
}
nav{
  width:71%;
  max-width:1140px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .blogs{
  display: flex;
  gap:50px;
  list-style-type: none;
  align-items: center;
}
nav .blogs a{
  color:brown;
  text-decoration: none;
}
.btn{
 color:white;
  font-size: 20px;
  font-weight:bold ;
  background-color: #e16512;
  border:none;
  border-radius: 5px;
  padding:18px 35px;
  cursor:pointer;
}
#banner{
  margin:47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color:#474747;
  margin:5px;
}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: 900px;
  color:#181818;
  margin-bottom: 20px;
}
#banner .banner-content p{
  font-size:18px;
  color:crimson;
  line-height: 30px;
  margin-bottom: 30px;
}
#banner .banner-content .banner-image{
  max-width: 585px;
  vertical-align: middle;
}